  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <a href="index.html" class="hero-logo" data-aos="zoom-in"><img src="/kn/img/hero-logo.png" alt=""></a>
      <h1 data-aos="zoom-in">Dempo Spesialis</h1>
      <h2 data-aos="fade-up">Kursus Mengemudi Mobil Ramah, Aman dan Harga Bersahabat</h2>
      <a data-aos="fade-up" data-aos-delay="200" href="#featured" class="btn-get-started scrollto">Selengkapnya</a>
    </div>
  </section><!-- End Hero -->

<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#featured">Pelayanan</a></li>
          <li class="dropdown"><a href="#biaya-kursus"><span>Biaya Kursus</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#manual">Privat Mobil Manual</a></li>
              <li><a href="#matic">Privat Mobil Matic</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#pricing">FAQ</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Galeri</a></li>
          <li><a class="nav-link scrollto" href="#team">Tanggapan</a></li>
         
          <li><a class="nav-link scrollto" href="#contact">Daftar</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>