<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dempo Spesialis</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/kn/img/favicon.png" rel="icon">
  <link href="/kn/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/kn/vendor/aos/aos.css" rel="stylesheet">
  <link href="/kn/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/kn/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/kn/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/kn/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/kn/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/kn/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
        <%- include("../Static-page/User/Header")  %> 
    <!-- End Header -->

    <!-- main -->
    <%- body  %>

    <!-- footer -->
    <%- include("../Static-page/User/Footer") %> 

  <!-- Vendor JS Files -->
  <script src="/kn/vendor/aos/aos.js"></script>
  <script src="/kn/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/kn/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/kn/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/kn/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/kn/vendor/php-email-form/validate.js"></script>
  <!-- Template Main JS File -->
  <script src="/kn/js/main.js"></script>

  <%- script; %>

</body>

</html>